<mat-card *ngFor="let item of newsData">

  <mat-card-header>
    <div mat-card-avatar
      [ngStyle]="{'background-image': 'url(https://thumbor.forbes.com/thumbor/600x315/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1125503425%2F960x0.jpg%3Ffit%3Dscale)'}"
      class="example-header-image"></div>
    <mat-card-title class="title">{{item.title? item.title: 'No Title Found'}}
    </mat-card-title>
    <mat-card-subtitle><i class="fas fa-user-tie icons"></i>
      {{item.by  | uppercase }}
      <i class="fas fa-calendar-week icons m10"></i>
      {{item.time |  date: 'short' : '-120'}}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="row">
    <div class="col-md-6">
      <img class="img-article"
        src='https://thumbor.forbes.com/thumbor/600x315/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1125503425%2F960x0.jpg%3Ffit%3Dscale'
        alt="">
    </div>
    <br>
    <div class="col-md-6">
      <mat-card-content class="article">
        <!-- <p [innerHtml]="item.text  | domSanitizer">
        </p> -->
        <h4>Highlights</h4>
        <ul>
          <li *ngFor="let child of item.kids; let i= index;">
            <span>
              <a mat-button href='https://hacker-news.firebaseio.com/v0/item/{{child}}.json' target="_blank">
                Source Link {{i+1}}
              </a>
            </span>
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions class="action-buttons">

        <a mat-button href='{{item.url}}' target="_blank">
          <mat-icon>visibility</mat-icon> More
        </a>
      </mat-card-actions>
    </div>

  </div>


</mat-card>