/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.article{
    font-size: 18px;
}
.img-article{
    width:100%;
}
.icons{
    font-size: 20px;
    color:#fff;
    margin: 0px 5px;
}
.m10{    
    margin-left:10px;
}